<div class="container-fluid about">

  <h1>About Clean Eats</h1>

  <p>
    Clean Eats brings you all your favorite restaurants together for you to quickly find the healthiest dishes that work for you.
    Whether you have meal preferences or strict dietary restrictions, we found a way to make that search easier for you. Interested to see what meal preferences work best for you? See below to make your search that much easier!
  </p>
  <br>

  <h5>Meal Types</h5>
  <p>
    + vegan <br>
      <b>Good for:</b> Inflammation, Weight Loss<br>

      <br>
    + vegetarian<br>
      <b>Good for:</b> Easy Digestion<br>

      <br>
    + paleo<br>
      <b>Good for:</b> Weight Loss<br>

      <br>
    + gluten intolerance<br>
      <b>Good for:</b> Easy Digestion<br>

      <br>
    + digestion sensitivity + soft foods<br>
      <b>Good for:</b> Easy Digestion, Crohn's Disease, Ulcerative Colitis<br>

      <br>
    + lactose intolerant<br>
      <b>Good for:</b> Easy Digestion, Crohn's Disease, Ulcerative Colitis<br>

      <br>
    + low sodium<br>
      <b>Good for:</b> Healthy Heart, Lowering Cholestrol<br>
  </p>

</div>
