
	<div class="container-fluid about">
		<h2>About Clean Eats</h2>
		<br>


		<p>Clean Eats brings all of your favorite restaurants together to quickly find the healthiest dishes that work for
		you. Whether you have meal preferences or dietary restrictions, we found a way to make that search easier for you.
		Interested to see what food types work best for you? See below to make your search that much easier!</p>
		<br>

		<hr>
		<br>
		<!-- Bootstrap Accordion -->


		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse1">
					<h4>VEGAN</h4></a>
					</h4>
				</div>


				<div class="panel-collapse collapse in" id="collapse1">
					<div class="panel-body">
						Veganism is a type of vegetarian diet that excludes meat, eggs, dairy products and all other animal-derived
						ingredients. Helps reduced inflammation and intake of saturated fats, chloestrol. Increased intake of fiber,
						potassium, magnesium, vitamins E and C.<br>
						<br>
						*<em>All items labeled as vegan are also vegetarian friendly.</em>*
					</div>
				</div>
			</div>


			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse2">
					<h4>VEGETARIAN</h4></a>
					</h4>
				</div>


				<div class="panel-collapse collapse" id="collapse2">
					<div class="panel-body">
						A vegetarian diet is associated with a higher consumption of fiber, folic acid, vitamins C and E, magnesium,
						unsaturated fat, and countless phytochemicals. This often results in vegetarians having lower cholesterol, being
						thinner, having lower blood pressure, and reduced risk of heart disease. Excludes meat and egg products but
						typically includes dairy.<br>
					</div>
				</div>
			</div>


			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse3">
					<h4>PALEO</h4></a>
					</h4>
				</div>


				<div class="panel-collapse collapse" id="collapse3">
					<div class="panel-body">
						The Paleo Diet is a modern attempt to replicate the diet of humans of the Paleolithic age.<br>
						<br>
						+ Lean meat, such as chicken, turkey, pork, lean beef, and buffalo (bison)<br>
						+ Fish<br>
						+ Seafood<br>
						+ Fresh fruit<br>
						+ Nonstarchy vegetables, such as lettuce, asparagus, green beans, broccoli, cabbage, Brussels sprouts,
						cauliflower, and spinach + Nuts, like almonds, walnuts, cashews, pecans, and pistachios (no peanuts)<br>
						+ Seeds, like pumpkin and sunflower<br>
						+ Eggs<br>
						+ Plant-based oils, such as olive, walnut, grapeseed, and coconut oil<br>
					</div>
				</div>
			</div>


			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse4">
					<h4>GLUTEN INTOLERANCE</h4></a>
					</h4>
				</div>


				<div class="panel-collapse collapse" id="collapse4">
					<div class="panel-body">
						<b>Good for:</b><br>
						Those who are sensitive to gluten, a protein found in wheat, barley, and rye.<br>
					</div>
				</div>
			</div>


			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse5">
					<h4>DIGESTION SENSITVITY + SOFT FOODS</h4></a>
					</h4>
				</div>


				<div class="panel-collapse collapse" id="collapse5">
					<div class="panel-body">
						For those who have Irritable Bowel Diseases or other chronic issues that effect eating. This includes soft foods
						and excludes dairy and processed foods.
					</div>
				</div>
			</div>


			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse6">
					<h4>LACTOSE INTOLERANT</h4></a>
					</h4>
				</div>


				<div class="panel-collapse collapse" id="collapse6">
					<div class="panel-body">
						Foods that do not contain milk or other dairy and milk related products.
					</div>
				</div>
			</div>
		</div>
		<br>
	</div>
