<div class="homepage bg container-fluid">
</div>

<div class="homepage-header container-fluid">
  <h1>Clean Eats</h1>
  <h3>eat out. eat good.</h3>
  <form class="enter" action="/users">
    <input type="submit" class="btn btn-default enter" value="See Restaurants">
  </form>
</div>
