<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cleat Eats | Eat Out. Eat Good.</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Raleway:100,200,300,400,500,600,700" rel="stylesheet">

  </head>
  <body>
    <nav class="row top-nav nav-wrapper">
      <div class="col col-md-6 logo">
      <a href="/"><img src="/images/logo.png" alt="Clean Eats Logo" width="220px"></a>
    </div>

      <div class="col col-md-6 actions">
          <a href="/about">About</a>  <a href="/users">Restaurants</a>  <a href="/sessions/login">Login</a>

          <a href="/users/signup"><button class="btn" type="button" name="button">Sign Up</button></a>

      </div>
    </nav>

    {{{body}}}

    <footer>
      <nav class="row nav-wrapper">
        <p><a href="/about">About</a> | <a href="/users">Restaurants</a> | <a href="mailto:aylin.mcginnis@gmail.com">Contact</a></p>
      </nav>
      <p><small>DESIGNED AND DEVELOPED BY <a href="http://www.aylinmarie.co">AYLIN MARIE</a></small></p>
    </footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
