html {
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  font-family: sans-serif;
  text-align: center;
}

a {
  color: #166b24;
  text-transform: uppercase !important;
  font-weight: bold;
  letter-spacing: .15em;
}

p {
  padding: 8px;
}

.container-fluid {
  padding: 40px;
}

form.btn input {
  text-transform: uppercase !important;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: .1em;
  padding: 10px 50px 10px 50px;

}

.list {
  padding-top: 40px;
  list-style-type: none;

}

.btn {
  text-transform: uppercase !important;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: .1em;
  padding: 10px;
  width: 150px;
}

input {
  text-transform: uppercase !important;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: .15em;
  padding: 5px 0px 5px 0px;
  margin: 10px;
  width: 300px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase !important;
  font-weight: bold;
  letter-spacing: .1em;
  margin: 5px;
}

nav {
  margin: 0 auto;
  padding: 20px;
  background: #eeeeee;

}

footer, footer a {
  margin: 0 auto;
  text-transform: uppercase !important;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: .15em;
  background: #eeeeee;

}
footer {
  padding: 50px;
}

.btn-website {
  background-color: #166b24;
  color: white;
}

hr {
  margin: 10px
}

div.restaurant-list-item.row {
  display: inline-block;
  padding: 50px;
  text-transform: uppercase !important;
  font-weight: bold;
  letter-spacing: .15em;
  width: 100%;
}


.homepage {
  background-image: url("https://source.unsplash.com/d825JrXvun8");
  height: 750px;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  background-size: cover;
}
