body {
  padding: 50px;
  font-family: sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

ol, ul {
  list-style-type: none;
}

form.btn input, .btn {
  text-transform: uppercase !important;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: .1em;
  padding: 10px 50px 10px 50px;
}

input {
  text-transform: uppercase !important;
  font-weight: bold;
  font-size: 10px;
  padding: 5px 0px 5px 0px;
  margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase !important;
  font-weight: bold;
  letter-spacing: .1em;
}

div.row {
  display: inline;
}
