html {
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  min-width: 400px;
  font-weight: 300;
}

a {
  color: #166b24;
  text-transform: uppercase !important;
  font-weight: bold;
  letter-spacing: .15em;
}

p {
  padding: 8px;
  letter-spacing: .08em;
  line-height: 2em;
}

.container-fluid {
  padding: 40px;
}

.logo {
  text-align: left;
}

.actions form{
  text-align: right;
  float: right;
  display: inline;
  center-y: == ::window[center-y];
  size: == ::[intrinsic-size];
}

.actions {
  height: 100px;
  top: 30px;
  }

.actions input.btn:hover, .btn-default:hover {
  border: 1px solid #166b24;
  color: #166b24;
}

form.btn input {
  text-transform: uppercase !important;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: .1em;
  padding: 10px 50px 10px 50px;

}

.list {
  padding-top: 40px;
  list-style-type: none;

}

.btn {
  text-transform: uppercase !important;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: .1em;
  padding: 10px;
  width: 150px;
}

input {
  text-transform: uppercase !important;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: .15em;
  padding: 5px 0px 5px 0px;
  margin: 10px;
  width: 300px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase !important;
  font-weight: bold;
  letter-spacing: .1em;
  margin: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

h1 {
  font-size: 80px !important;
}

h2 {
  font-size: 50px;
}

h4 {
  letter-spacing: .2em;
}

h5, h6 {
  font-weight: 500;
}

.homepage.bg {
  background-image: url("https://source.unsplash.com/C1fMH2Vej8A");
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0px;
  background-size: cover;
  background-position: center center;
  opacity: .3;
  z-index: -1;
  position: absolute;
}

.homepage-header, .homepage h2 {
  position: relative;
  opacity: 1;
  z-index: 1;
  padding: 150px 0px 0px 0px;
}

.btn.enter {
  border: 2px solid #166b24;
  color: #166b24;
  background-color: transparent;
  border-radius: 20px;
  font-size: 13px;
  letter-spacing: .1em;
  width: 230px;
  margin-top: 50px;
}

.btn.enter:hover {
  background-color: white;
}

.about {
  max-width: 800px;
}

nav {
  margin: 0 auto;
  padding: 20px;
  background: #eeeeee;

}

footer, footer a {
  margin: 0 auto;
  text-transform: uppercase !important;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: .15em;
  background: #eeeeee;

}
footer {
  padding: 50px;
}

.btn-website {
  background-color: #166b24;
  color: white;
}

hr {
  margin: 10px
}

div.restaurant-list-item.row {
  display: inline-block;
  padding: 50px;
  text-transform: uppercase !important;
  font-weight: bold;
  letter-spacing: .15em;
  width: 100%;
}

.list-delete {
  width: 100px;
  font-size: 9px;
  letter-spacing: .1em;
  border: 2px solid #c9302c;
  color: #c9302c;
  background-color: transparent;
  padding: 5px;
  border-radius: 20px;
}

.restaurant-list-item .col {
  padding: 0px 0px 50px 0px;
}

.restaurant-list-item .col:hover {
  opacity: .5;
}

.atlanta.bg {
  background-image: url("https://source.unsplash.com/4AS6y6UH70s");
  height: 350px;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  background-size: cover;
  background-position: center center;
  opacity: .3;
  z-index: -1;
  position: absolute;
}

.atlanta-header, .atlanta h2 {
  position: relative;
  line-height: 350px;
  opacity: 1;
  z-index: 1;
  margin: 150px 0px 150px 0px;
}


.nyc.bg {
  background-image: url("https://source.unsplash.com/P8zDQz8Y2Vc");
  height: 350px;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  background-size: cover;
  background-position: center center;
  opacity: .3;
  z-index: -1;
  position: absolute;
}

.nyc-header, .nyc h2 {
  position: relative;
  line-height: 350px;
  opacity: 1;
  z-index: 1;
  margin: 150px 0px 150px 0px;
}
