<div class="container-fluid atlanta bg"></div>
	<div class="atlanta-header">
		<h2> Atlanta Restaurants </h2>
	</div>


<div class="container-fluid restaurant-list-item row">
		{{#each restaurants}}
			<br>
			{{this.name}}
			<br>
			<img src="{{this.imgUrl}}" width="300px">
			<br>
		{{/each}}
</div>

<hr>
<div class="container-fluid">
	<h5>Want to see more? </h5>
		<p>Sign up above to customize your favorite restaurants for what works for you!</p>

</div>

<div class="container-fluid nyc bg"></div>
	<div class="nyc-header">
		<h2> NYC Restaurants </h2>
		<h6>coming soon</h6>
	</div>
