
<div class="container-fluid login">
<h2> Log In </h2>
<br>
<form action="/sessions/login" method="post">
  <div>
    <label for="email">email</label><br>
    <input type="text" name="email">
  </div>

  <div>
    <label for="password">password</label><br>
    <input type="text" name="password">
  </div>

  <input class="btn btn-default" type="submit" value="Submit">
</form>

</div>
