<!-- <h3>Add Restaurant</h3>
<form action="/users/{{user.id}}/restaurants" method="POST">
	<div>
		<label for="name">Name: </label>
		<input type="text" name="name">
	</div>
	<div>
		<label for="location">Location:</label>
		<input type="text" name="location">
	</div>
	<div>
		<label for="type">Type:</label>
		<input type="text" name="type">
	</div>
	<div>
		<input type="submit" value="Add To Restaurant">
	</div>
</form> -->
