<form action="/users" method="post">
  <div>
    <label for="email">email</label>
    <input type="text" name="email">
  </div>

  <div>
    <label for="firstName">first name</label>
    <input type="text" name="firstName">
  </div>

  <div>
    <label for="lastName">last name</label>
    <input type="text" name="lastName">
  </div>

  <div>
    <label for="password">password</label>
    <input type="text" name="password">
  </div>

  <input type="submit" value="Submit">
</form>
